<h1>Order Details </h1>

<h2>@Model["order"].Title</h2>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["Vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>


