<h1>Add Vendors</h1>
<p>Add vendors here:</p>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/vendor">Back to vendors.</a></p>